.aprendizagem-adaptiva
  #intro
    background: url("/images/backgrounds/shape-red-left.png") no-repeat top left white
    padding-bottom: 32px

  #points
    background: url("/images/backgrounds/shape-red-right.png") no-repeat top right $white-0-1-1

  #availability
    background: url("/images/backgrounds/shape-yellow-left.png") no-repeat top left $yellow-0
