$black-0: rgb(19, 19, 19)
$black-1: rgb(26, 26, 26)
$black-2: rgb(41, 41, 41)
$black-9: rgba(0, 0, 0, .1)
$black-8: rgb(76, 76, 76)

$yellow-0: rgb(250, 239, 56)

$white-0: rgb(255, 255, 255)
$white-1: rgb(240, 240, 243)
