$black-0: rgb(19, 19, 19)
$black-1: rgb(26, 26, 26)
$black-2: rgb(41, 41, 41)
$black-3: rgb(35, 31, 32)
$black-4: rgb(52, 53, 50)
$black-9: rgba(0, 0, 0, .1)
$black-8: rgb(76, 76, 76)

$yellow-0: rgb(250, 239, 56)
$yellow-1: rgb(229, 219, 54)

$white-0: rgb(255, 255, 255)
$white-0-1-1: rgb(250, 250, 252)
$white-0-1-2: rgb(233, 233, 233)
$white-0-1: rgb(244, 244, 243)
$white-1: rgb(240, 240, 243)
$white-2: rgb(180, 180, 177)
$white-3: rgb(135, 135, 130)
