.menu
  text-align: left
  position: relative

  li
    display: inline

    > ul
      background-color: $black-1
      display: none
      position: absolute
      width: 206px
      margin-top: 5px
      border-bottom-left-radius: 5px
      border-bottom-right-radius: 5px
      z-index: 4

      > li
        display: block
        font:
          size: em(14)
          weight: 700
        +transition(all, $transition-speed, ease-in-out)

        &:hover
          &.aprendizagem-adaptiva
            background: #C3232B

          &.biblioteca-digital
            background: #014E76
            top: 12px

          &.ead
            background: #E6792C
            top: 30px

          &.set
            background: #5C8D40

          &.ssa
            background: #5E5E9B

        a
          display: block
          color: white
          padding: 15px 40px 15px 15px

        &:last-child
          border-bottom-left-radius: 5px
          border-bottom-right-radius: 5px

    &:hover
      > ul
        display: block

.contact-page,
.faq-page
  font:
    family: $istok
    weight: 900
  color: $black-1
  margin-left: 18px
  text-align: right

  &:hover
    border-bottom: 3px solid $black-1

.breadcrumb
  +fill-parent
  clear: both
  font:
    family: $helvetica
    size: em(13)
    weight: bold
  text-transform: uppercase
  margin-top: 33px
  padding-bottom: 28px

  ul
    text-align: left

  a
    color: $white-2

  li
    display: inline
    color: $white-3

.side-navigation
  background: white
  box-shadow: 0 0 5px $black-9
  +span-columns(3)
  padding: 0 13px

  li
    border-top: 1px solid $white-0-1

    &:first-child
      border: none

    &.aprendizagem-adaptiva
      a:before
        background: #C3232B

    &.biblioteca-digital
      a:before
        background: #014E76
        top: 12px

    &.ead
      a:before
        background: #E6792C
        top: 30px

    &.set
      a:before
        background: #5C8D40

    &.ssa
      a:before
        background: #5E5E9B

  a
    color: $white-3
    display: block
    line-height: em(24)
    font:
      size: em(13)
      weight: bold
    text-transform: uppercase
    padding: 20px 20px 20px 0
    position: relative
    +transition(all, $transition-speed, ease-in-out)

    &.active,
    &:hover
      color: $black-2

      &:before
        content: ""
        display: block
        +size(6 31)
        position: absolute
        left: -13px
        top: 22px

