@import reset
@import saraiva
@import font-awesome
@import navigation

.content
  +outer-container

body
  +set-typography

  > header
    background-color: $white-0
    box-shadow: 0 2px 5px $black-9
    padding: 20px 0 10px

    .logo
      +span-columns(2)

    nav
      padding-top: 25px
      +span-columns(5)
      +shift(5)

  > footer
    background-color: $black-1
    padding:
      top: 48px
      bottom: 112px

    .logo-saraiva
      +span-columns(3)

    nav
      padding-top: 3px
      +span-columns(2)
      +shift(7)

    ul
      text-align: left

      li
        display: inline
        margin-left: 22px

        &:first-child
          margin-left: 0

    a
      color: $black-8
      font-weight: bold
      +transition(all, $transition-speed, ease-in-out)

      &:hover
        color: $white-0

    .copyright
      background-color: $black-0
      color: $black-8
      font:
        family: $helvetica
        size: em(14)
      padding:
        top: 34px
        bottom: 34px
      margin-top: 48px

      > p
        display: block
        float: none
        margin:
          left: auto
          right: auto
        width: 940px

.breadcrumb
  +fill-parent
  clear: both
  font:
    family: $helvetica
    size: em(13)
    weight: bold
  text-transform: uppercase
  margin-top: 33px
  padding-bottom: 28px

  ul
    text-align: left

  a
    color: $white-2

  li
    display: inline
    color: $white-3

.side-navigation
  box-shadow: 0 0 5px $black-9
  +span-columns(3)
  padding: 0 13px

  li
    border-top: 1px solid $white-0-1

    &:first-child
      border: none
  a
    color: $white-3
    display: block
    line-height: em(23)
    font:
      size: em(13)
      weight: bold
    text-transform: uppercase
    padding: 20px 20px 20px 0

    &.active
      color: $black-2

#intro
  header,
  p
    +span-columns(9)
    margin-right: 0

.solutions
  +button("black")
  font:
    family: $roboto
    weight: 700
  i
    margin-left: 15px
