@import saraiva

#site
  position: relative

  img
    margin: 59px 0
    float: left

  .more-info
    float: left
    margin:
      left: 40px
      top: 143px

    h2
      font:
        family: $istok
        size: em(30)
      margin-bottom: 27px

    a
      border: 3px solid $black-2
      border-radius: 100px
      font:
        family: $helvetica
        size: 14px
        weight: 700
      padding: 10px 20px

      &:hover
        border-color: $black-4
        color: $black-4

#advantages
  @extend %yellow-section
