@import saraiva

.more-info
  margin-top: 91px

#methodology
  padding: 65px 0
  @extend %yellow-section

  header
    border-bottom: 1px solid $white-0-1-2
    margin-bottom: 32px

  h2
    text-align: left
    padding-bottom: 25px

  ul
    +fill-parent

    li
      background-color: #E15D29
      border: 1px solid white
      color: white
      +span-columns(4)
      font-size: em(14)
      line-height: em(24)
      height: 228px
      margin-right: 0
      position: relative
      padding: 23px
      width: 33.33%

      &:first-child
        width: 24.33%

        + li
          background-color: #E6792C
          width: 75.66%

          p
            color: white
            line-height: em(24)
            width: 150px

          img
            display: block
            position: absolute
            top: -27px
            right: 20px

    .ea8b2d
      background-color: #EA8B2D

    .e6792c
      background-color: #E6792C

    .ec9f2e
      background-color: #EC9F2E

#highlights
  @extend %yellow-section

  h2
    padding:
      top: 64px
      bottom: 26px
    text-align: left

  ul
    overflow: hidden

#technology
  header
    border-bottom: 1px solid $yellow-1
    margin-bottom: 30px

  li
    +span-columns(4)
    margin-right: 0
    height: 60px
    margin-bottom: 12px

    &:first-child p
      padding-top: 0

    img,
    p
      display: block
      float: left
      font-size: em(14)

    p
      line-height: em(24)
      padding:
        left: 5px
        top: 7px
      width: 82.5%

#services
  header
    border-top: 1px solid $yellow-1
    margin-top: 30px

    h2
      padding-top: 32px

  ul
    border-bottom: 1px solid $yellow-1
    +span-columns(8)
    font-size: em(14)

    li
      line-height: em(24)
      +span-columns(4 of 8)
      height: 78px
      margin:
        right: 0
        bottom: 28px
      padding:
        left: 25px
        right: 30px
      position: relative

      i
        display: block
        font-size: em(18)
        position: absolute
        left: 0
        top: 0

#highlights
  .more-solutions
    margin-bottom: 0

  .content
    position: relative

  .model
    bottom: 122px
    right: -20px
    display: block
    position: absolute
