@import saraiva

%section-title
  color: $black-2
  font:
    family: $istok
    size: 30px
    weight: 400
  line-height: em(20)

#saraiva-education
  background: $white-1

  h2
    @extend %section-title
    margin-bottom: 60px
    text-align: center

  ol > li
    font:
      family: $helvetica
      size: em(14)
    margin-bottom: 76px
    +span-columns(4)

    p
      padding-top: 28px

    &.ead
      margin-right: 0

  .actions
    display: inline-block
    margin-left: 22px

    .solutions,
    .message
      display: block
      width: 100%

    .solutions
      +button("yellow")

    .message
      border-bottom: 2px solid $black-9
      font-size: em(13)
      padding:
        top: 12px
        bottom: 2px
      +transition(all, $transition-speed, ease-in-out)

      &:hover
        border-bottom-color: $black-2

#points
  background-color: $yellow-0
  padding-bottom: 12px

  .content
    position: relative

  h2
    @extend %section-title
    padding-top: 64px
    margin-bottom: 29px

  h2,
  ol
    +span-columns(8)
    +shift(4)

  li
    +span-columns(4 of 8)
    font:
      family: $helvetica
      size: em(14)
    line-height: em(24)
    margin-bottom: 50px
    padding:
      left: 19px
      right: 20px
    position: relative

    i
      display: block
      font-size: em(18)
      position: absolute
      left: 0
      top: 0

  .model
    bottom: -12px
    left: 0
    position: absolute

  .portfolio,
  .warranty
    margin-right: 0

.carousel
  position: relative
  overflow: hidden
  z-index: 1

  ul
    width: 20000em
    position: relative
    list-style: none
    margin: 0
    padding: 0


  li
    float: left

  img
    width: 100%

#saraiva-education
  .home-carousel
    position: relative
    margin-bottom: 45px

    .arrow-down
      display: block
      margin: -47px auto 0
      position: relative
      +size(59 44)
      z-index: 1

    .item
      position: relative

      &.ssa
        h2
          +size(675 105)
          text-align: left
          margin-left: 40%
          margin-top: 3%
          color: $black-2

        strong
          color: $black-2

    .more
      color: $black-2
      border: 3px solid $black-2
      border-radius: 100px
      background: transparent
      display: block
      position: absolute
      top: 375px
      margin-left: 40%
      text-transform: none
      font:
        family: $helvetica
        size: 14px
        weight: 700
      padding: 10px 40px

    ul li
      h2
        color: white
        display: block
        top: 0
        left: 0
        width: 100%
        text-align: center
        position: absolute
        top: 190px
        z-index: 2
      strong
        color: white

.jcarousel-prev,
.jcarousel-next
  display: block
  position: absolute
  top: 45%
  z-index: 3

.jcarousel-prev
  left: 0

.jcarousel-next
  right: 0
