+media($small)
  body
    > header
      .logo
        +span-columns(2 of 4)
        margin:
          left: 10px
          right: 0

        img
          width: 65%

      nav
        +span-columns(2 of 4)
        +shift(0)
        padding-top: 0

        .solutions
          display: block
          font-size: em(12)
          padding: 10px

          i
            margin-left: 5px

      .menu li
        a
          font-size: em(12)

          &.contact-page
            margin-left: 0

        > ul
          margin-top: -5px
          left: -56px

    > footer
      .copyright > p
        padding-right: 60px
        width: 95%

      .logo-saraiva
        +span-columns(2 of 4)
        margin:
          right: 0
          left: 10px

        img
          width: 85%

      ul
        text-align: right
        padding-right: 10px
      nav
        +span-columns(2 of 4)
        margin-left: 0
        padding-top: 0
        float: right

    .side-navigation,
    .breadcrumb
      float: none
      margin:
        left: auto
        right: auto
      width: 95%

    .side-navigation
      margin-bottom: 20px

    &.aprendizagem-adaptiva,
    &.biblioteca-digital,
    &.ead,
    &.set,
    &.ssa,
    &.faq
      #intro,
      #points,
      #site,
      #solution
        background: none

    #site
      img
        width: 100%
        margin-bottom: 20px

      .more-info
        +mobile-block
        margin-top: 0
        margin-bottom: 20px
        overflow: hidden

        a
          display: block

        h2
          font-size: em(22)
          margin-bottom: 10px

    #intro
      header,
      p,
      .list
        float: none
        +outer-container
        width: 95%
        &:last-child
          margin-right: auto

      h2
        font-size: em(22)
        line-height: em(22)

      h3
        font-size: em(18)
        line-height: em(18)

    .more-solutions
      +mobile-block

    #questions
      +mobile-block

      .question
        padding: 20px 22px

    #intro
      .contacts,
      .coach
        +mobile-block
        p,
        h3
          +size(100% auto)

      .contacts
        .phone,
        .hour
          font-size: em(14)

        .image
          +size(100% auto)

        .send-mail
          font-size: em(14)

      .coach
        position: relative
        padding-top: 270px

        h3
          margin-top: 50px
          font-size: em(20)
          line-height: em(18)

        .image
          +size(100% auto)
          float: none
          position: absolute
          top: 0
          left: 0
          margin-top: 0

    #message
      form,
      header
        +mobile-block
        float: none

      h2
        font-size: em(22)
        line-height: em(20)

      .phone
        width: 209px

      .map
        +mobile-block
        float: none
        &:last-child
          margin-right: auto

