---
title: FAQ
---

<section id="intro">
  <div class="content">
    <%= partial "breadcrumb", locals: { current_page: current_page.data.title } %>
    <header>
      <h2>Perguntas frequentes</h2>
      <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat sit amet nibh nec facilisis. Sed non ipsum ac diam faucibus nullam</h3>
    </header>

    <div class="search">
      <% form_tag "/search", method: "post" do %>
        <% field_set_tag class: "inputs" do %>
          <ol>
            <li><%= text_field_tag :q, placeholder: "Digite uma frase ou palavra-chave para pesquisar." %></li>
          </ol>
        <% end %>

        <% field_set_tag class: "actions" do %>
          <%= submit_tag "Buscar" %>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
