---
title: Index - Soluções Educacionais Saraiva
---

<section id="saraiva-education">
  <header>
    <h2>
      Soluções Educacionais Saraiva: <br>
      Conteúdo, Tecnologia e Serviços
    </h2>
  </header>

  <ol>
    <li>
      <strong>Aprendizagem Adaptativa</strong>
      <p>A solução ideal para acompanhar o desempenho de aprendizagem de cada aluno.</p>
    </li>

    <li>
      <strong>Biblioteca Digital</strong>
      <p>Acervo de conteúdos digitais Saraiva paraa nova geração de leitores.</p>
    </li>

    <li>
      <strong>EAD - Educação a Distância</strong>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quam nullam.</p>
    </li>

    <li>
      <strong>SET - Saraiva Sistema de Ensino Técnico</strong>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quam nullam.</p>
    </li>

    <li>
      <strong>SSA - Soluções de Aprendizagem Saraiva</strong>
      <p>A essência das ferramentas de aprendizagem ativa.</p>
    </li>
  </ol>

  <ul class="actions">
    <li><%= link_to "Conheça nossas soluções", "" %></li>
    <li><%= link_to "Se preferir, envie-nos uma mensagem", "" %></li>
  </ul>
</section>

<section>
  <header>
    <h2>Porque escolher a Saraiva</h2>
  </header>

  <ol>
    <li>Experiência em conteúdos da área universitária aliada à agilidade e flexibilidade e estrutura organizacional que só uma empresa com 100 anos pode oferecer.</li>
    <li>Portfólio com as soluções mais completas do mercado, unindo tecnologia e serviços inovadores.</li>
    <li>Soluções desenhadas sob medida para as instituições de Educação Superior.</li>
    <li>Capacidade de execução e garantia de entrega no prazo, com a melhor relação custo/benefício.</li>
    <li>Conteúdos desenvolvidos por grandes nomes da educação, com experiência em sala de aula.</li>
  </ol>
</section>
